<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-ProjectMVC-20211006070740.mdf;Initial Catalog=aspnet-ProjectMVC-20211006070740;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="BillionBankEntities" connectionString="metadata=res://*/Models.AccountModel.csdl|res://*/Models.AccountModel.ssdl|res://*/Models.AccountModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-25UIIB0\MSSQLSERVER01;initial catalog=BillionBank;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ClientEntities" connectionString="metadata=res://*/Models.ClientModel.csdl|res://*/Models.ClientModel.ssdl|res://*/Models.ClientModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-25UIIB0\MSSQLSERVER01;initial catalog=BillionBank;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AccountsEntities" connectionString="metadata=res://*/Models.ClientModel.csdl|res://*/Models.ClientModel.ssdl|res://*/Models.ClientModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-25UIIB0\MSSQLSERVER01;initial catalog=BillionBank;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BilionBankWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="BilionBankWebServiceSoap1" />
        <binding name="BilionBankWebServiceSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="BilionBankWebServiceSoap3" />
        <binding name="BilionBankWebServiceSoap4">
          <security mode="Transport" />
        </binding>
        <binding name="BilionBankWebServiceSoap5" />
        <binding name="BilionBankWebServiceSoap6">
          <security mode="Transport" />
        </binding>
        <binding name="BilionBankWebServiceSoap7" />
        <binding name="BilionBankWebServiceSoap8">
          <security mode="Transport" />
        </binding>
        <binding name="BilionBankWebServiceSoap9" />
        <binding name="BilionBankWebServiceSoap10">
          <security mode="Transport" />
        </binding>
        <binding name="BilionBankWebServiceSoap11" />
        <binding name="BilionBankWebServiceSoap12">
          <security mode="Transport" />
        </binding>
        <binding name="BilionBankWebServiceSoap13" />
        <binding name="BilionBankWebServiceSoap14">
          <security mode="Transport" />
        </binding>
        <binding name="BilionBankWebServiceSoap15" />
        <binding name="BilionBankWebServiceSoap16">
          <security mode="Transport" />
        </binding>
        <binding name="BilionBankWebServiceSoap17" />
        <binding name="BilionBankWebServiceSoap18">
          <security mode="Transport" />
        </binding>
        <binding name="BilionBankWebServiceSoap19" />
        <binding name="BilionBankWebServiceSoap20">
          <security mode="Transport" />
        </binding>
        <binding name="BilionBankWebServiceSoap21" />
        <binding name="BilionBankWebServiceSoap22">
          <security mode="Transport" />
        </binding>
        <binding name="BilionBankWebServiceSoap23" />
        <binding name="BilionBankWebServiceSoap24">
          <security mode="Transport" />
        </binding>
        <binding name="BilionBankWebServiceSoap25" />
        <binding name="BilionBankWebServiceSoap26">
          <security mode="Transport" />
        </binding>
        <binding name="BilionBankWebServiceSoap27" />
        <binding name="BilionBankWebServiceSoap28">
          <security mode="Transport" />
        </binding>
        <binding name="BilionBankWebServiceSoap29" />
        <binding name="WebServiceIncreaseSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WebServiceIncreaseSoap1" />
        <binding name="WebServiceAccountSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WebServiceAccountSoap1" />
        <binding name="WebServiceClientSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WebServiceClientSoap1" />
        <binding name="WebServiceDeductSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WebServiceDeductSoap1" />
        <binding name="WebServiceFromAccountSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WebServiceFromAccountSoap1" />
        <binding name="WebServiceToAccountSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WebServiceToAccountSoap1" />
        <binding name="WebServiceTransactionSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WebServiceTransactionSoap1" />
        <binding name="WebServiceTransactionSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="WebServiceTransactionSoap3" />
        <binding name="WebServiceClientSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="WebServiceClientSoap3" />
        <binding name="WebServiceUpdateSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WebServiceUpdateSoap1" />
        <binding name="WebServiceUpdateSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="WebServiceUpdateSoap3" />
        <binding name="WebServiceIncreasesSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WebServiceIncreasesSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44343/BilionBankWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="BilionBankWebServiceSoap"
        contract="ServiceReference.BilionBankWebServiceSoap" name="BilionBankWebServiceSoap" />
      <endpoint address="https://localhost:44343/BilionBankWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="BilionBankWebServiceSoap2"
        contract="ProjectWebServices.BilionBankWebServiceSoap" name="BilionBankWebServiceSoap1" />
      <endpoint address="https://localhost:44343/BilionBankWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="BilionBankWebServiceSoap4"
        contract="ProjectWebService.BilionBankWebServiceSoap" name="BilionBankWebServiceSoap2" />
      <endpoint address="https://localhost:44343/BilionBankWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="BilionBankWebServiceSoap6"
        contract="WebServiceMain.BilionBankWebServiceSoap" name="BilionBankWebServiceSoap3" />
      <endpoint address="https://localhost:44343/BilionBankWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="BilionBankWebServiceSoap8"
        contract="ServiceReferenceMain.BilionBankWebServiceSoap" name="BilionBankWebServiceSoap4" />
      <endpoint address="https://localhost:44343/BilionBankWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="BilionBankWebServiceSoap10"
        contract="ServiceRefProject.BilionBankWebServiceSoap" name="BilionBankWebServiceSoap5" />
      <endpoint address="https://localhost:44343/BilionBankWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="BilionBankWebServiceSoap12"
        contract="WebServiceReference.BilionBankWebServiceSoap" name="BilionBankWebServiceSoap6" />
      <endpoint address="https://localhost:44343/BilionBankWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="BilionBankWebServiceSoap14"
        contract="ClientWebService.BilionBankWebServiceSoap" name="BilionBankWebServiceSoap7" />
      <endpoint address="https://localhost:44343/BilionBankWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="BilionBankWebServiceSoap16"
        contract="ServiceReference1.BilionBankWebServiceSoap" name="BilionBankWebServiceSoap8" />
      <endpoint address="https://localhost:44343/BilionBankWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="BilionBankWebServiceSoap18"
        contract="ServiceReference2.BilionBankWebServiceSoap" name="BilionBankWebServiceSoap9" />
      <endpoint address="https://localhost:44343/BilionBankWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="BilionBankWebServiceSoap20"
        contract="ServiceReference3.BilionBankWebServiceSoap" name="BilionBankWebServiceSoap10" />
      <endpoint address="https://localhost:44343/BilionBankWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="BilionBankWebServiceSoap22"
        contract="ServiceReference4.BilionBankWebServiceSoap" name="BilionBankWebServiceSoap11" />
      <endpoint address="https://localhost:44343/BilionBankWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="BilionBankWebServiceSoap24"
        contract="ServiceReference5.BilionBankWebServiceSoap" name="BilionBankWebServiceSoap12" />
      <endpoint address="https://localhost:44343/BilionBankWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="BilionBankWebServiceSoap26"
        contract="ServiceReference6.BilionBankWebServiceSoap" name="BilionBankWebServiceSoap13" />
      <endpoint address="https://localhost:44343/BilionBankWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="BilionBankWebServiceSoap28"
        contract="ServiceReference7.BilionBankWebServiceSoap" name="BilionBankWebServiceSoap14" />
      <endpoint address="https://localhost:44327/WebServiceIncrease.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceIncreaseSoap"
        contract="ServiceReferenceIncrease.WebServiceIncreaseSoap" name="WebServiceIncreaseSoap" />
      <endpoint address="https://localhost:44328/WebServiceAccount.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceAccountSoap"
        contract="ServiceReferenceAccount.WebServiceAccountSoap" name="WebServiceAccountSoap" />
      <endpoint address="https://localhost:44370/WebServiceClient.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceClientSoap"
        contract="ServiceReferenceClient.WebServiceClientSoap" name="WebServiceClientSoap" />
      <endpoint address="https://localhost:44329/WebServiceDeduct.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceDeductSoap"
        contract="ServiceReferenceDeduct.WebServiceDeductSoap" name="WebServiceDeductSoap" />
      <endpoint address="https://localhost:44363/WebServiceFromAccount.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceFromAccountSoap"
        contract="ServiceReferenceFromAccount.WebServiceFromAccountSoap"
        name="WebServiceFromAccountSoap" />
      <endpoint address="https://localhost:44358/WebServiceToAccount.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceToAccountSoap"
        contract="ServiceReferenceToAccount.WebServiceToAccountSoap"
        name="WebServiceToAccountSoap" />
      <endpoint address="https://localhost:44359/WebServiceTransaction.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceTransactionSoap"
        contract="ServiceReferenceTransaction.WebServiceTransactionSoap"
        name="WebServiceTransactionSoap" />
      <endpoint address="https://localhost:44359/WebServiceTransaction.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceTransactionSoap2"
        contract="ServiceReferenceTransaction2.WebServiceTransactionSoap"
        name="WebServiceTransactionSoap1" />
      <endpoint address="https://localhost:44370/WebServiceClient.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceClientSoap2"
        contract="ServiceReferenceClients.WebServiceClientSoap" name="WebServiceClientSoap1" />
      <endpoint address="https://localhost:44353/WebServiceUpdate.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceUpdateSoap"
        contract="ServiceReferenceUpdate.WebServiceUpdateSoap" name="WebServiceUpdateSoap" />
      <endpoint address="https://localhost:44353/WebServiceUpdate.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceUpdateSoap2"
        contract="ServiceReferenceUpdates.WebServiceUpdateSoap" name="WebServiceUpdateSoap1" />
      <endpoint address="https://localhost:44394/WebServiceIncreases.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceIncreasesSoap"
        contract="ServiceReferenceIncreases.WebServiceIncreasesSoap"
        name="WebServiceIncreasesSoap" />
    </client>
  </system.serviceModel>
</configuration>